include "~/.nano/asciidoc.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/pkgbuild.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/yaml.nanorc"
